.form-section {
    padding: 1.2em;
    background-color: #fff;
    display: flex;
    width: 45vw;
    border-radius: 10px;
}

.steps-side {
    flex: .3;
    border-radius: 10px;
    padding: 1.3em;
    background-image: url('./../images/bg-sidebar-desktop.svg');
    background-position: center;
}

.form-side {
    flex: .7;
}

@media (max-width: 1454px) {
    .form-section {
        width: 55vw;
    }
}

@media (max-width: 1366px) {
    .form-section {
        width: 60vw;
    }
}

@media (max-width: 1364px) {
    .form-section {
        width: 70vw;
    }
}


@media (max-width: 938px) {
    .form-section {
        width: 90vw;
    }
}

@media (max-width: 758px) {
    .form-section {
        flex-direction: column;
        height: 100vh;
        padding: 0;
        width: 100vw;
        background-color: hsl(217, 100%, 97%);
    }

    .form-side {
        position: absolute;
        background-color: white;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .steps-side {
        border-radius: 0;
        background-color: url('./../images/bg-sidebar-mobile.svg');
        background-position: center;
        justify-content: center;
    }
}

@media (max-width: 562px) {

    .form-side {
        top: 60%;
        width: 100%;
    }
}