.select-plan-form-container {
    padding: 1.5em 2em;

}

.select-plan-form__heading {
    color: hsl(213, 96%, 18%);
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.select-plan-form__details {
    font-size: .8rem;
    color: hsl(231, 11%, 63%);
    margin-bottom: 2em;
}


.plans-container {
    display: flex;
    justify-content: space-between;
}

.plan {
    padding: 1em;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    width: 120px;
}

.plan:hover,
.active-plan {
    border: 1px solid hsl(243, 100%, 62%);
    cursor: pointer;
}


.plan-icon-container {
    width: 30px;
    height: 30px;
    margin-bottom: 3em;
}

.plan-icon-container>img {
    width: 100%;
}

.plan-name {
    font-size: .9em;
    font-weight: 700;
    color: hsl(213, 96%, 18%);

}

.plan-price {
    color: hsl(231, 11%, 63%);
    font-size: .7rem;
}

.free-period {
    font-size: .7rem;
    font-weight: 500;
    color: hsl(213, 96%, 18%);
    margin-top: 10px;
}

.plan-duration-container {
    padding: .8em 0;
    border-radius: 5px;
    margin-top: 1.3em;
    background-color: hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthly,
.yearly {
    font-size: .8rem;
    text-transform: capitalize;
    font-weight: 500;
    color: hsl(231, 11%, 63%);
}

.monthly {
    margin-right: 10px;
}

.yearly {
    margin-left: 10px;
}

/* Toggle styles */

.toggle-slider {
    position: relative;
    width: 60px;
    height: 25px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    border-radius: 34px;
    cursor: pointer;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']:checked+.slider {
    background-color: hsl(213, 96%, 18%);
}

input[type='checkbox']:checked+.slider:before {
    transform: translateX(30px);
}

.back-next-btns-container {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin-top: 5em;
}











button.back,
button.next {
    border: none;
    font-weight: 700;
}

button.back {
    text-transform: capitalize;
    color: hsl(231, 11%, 63%);
    background-color: transparent;
}

button.next {
    padding: 10px 20px;
    text-transform: capitalize;
    color: #fff;
    background-color: hsl(213, 96%, 18%);
    border-radius: 5px;
}

button.back:hover,
button.next:hover {
    cursor: pointer;
}

button.next:hover {
    opacity: .8;
}

button.back:hover {
    color: hsl(213, 96%, 18%);
}


.label-field-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.field-is-required {
    font-size: .7rem;
    font-weight: 700;
    color: red;
}

@media (max-width: 575px) {


    .plans-container {
        flex-direction: column;
    }

    .plan {
        width: 100%;
        display: flex;
        padding: 0;
        border-radius: 5px;
        height: auto;
        max-height: 80px;
        padding: 1em;
        margin-bottom: 15px;
    }

    .plan-icon-container {
        margin-right: 10px;
    }
}